---
import BaseLayout from "@/layouts/Base.astro";
import List from "@/components/manga/List.astro";
---

<BaseLayout>
  <Fragment slot={"main"}>
    <h1 class="mt-4 md:text-center">Manga List</h1>
    <section class="flex items-center justify-center w-full mt-4 flex-column">
      <List
        get="/partials/manga-list/results"
        params={{}}
      />
    </section>
  </Fragment>
</BaseLayout>
