---
import List from "@/components/manga/List.astro";
import Base from "@/layouts/Base.astro";
---

<Base>
  <Fragment slot={"main"}>
    <header>
      <h1>Manga List</h1>
    </header>
    <List
      page={1}
      get="/partials/manga-list/results"
      params={{}}
      trigger="load"
      swap="innerHTML transition:true"
    />
  </Fragment>
</Base>

<style>
  @media screen and (max-width: 768px) {
    header h1 {
      text-align: center;
    }
  }
</style>
