<nav>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/manga">Manga</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>

<style>
  nav {
    padding-inline: var(--padding-inline);
  }
  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    list-style: none;
  }
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  }
</style>
