---
const paths = await Astro.glob("../pages/*.astro");
---

<nav>
  <ul class="nav-links">
    {
      paths &&
        paths.map((path) => (
          <li>
            <a class="nav-link" href={path.url === "" ? "/" : path.url}>
              {path.url ? path.url.slice(1).toLocaleUpperCase() : "HOME"}
            </a>
          </li>
        ))
    }
  </ul>
</nav>

<style>
  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    list-style: none;

    .nav-link {
      @apply text-base font-bold;
    }
  }
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  }
</style>
