---
import "@/styles/index.css";
import { SITE } from "../../site-config.js";
import { ViewTransitions } from "astro:transitions";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  lang?: string;
  title?: string;
  viewTransitions?: boolean;
}

const { lang, title } = Astro.props;
const viewTransitions = Astro.props.viewTransitions ?? true;
---

<!doctype html>
<html lang={lang ?? SITE.DEFAULT_LANG}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <link rel="icon" type="svg+xml" href="/favicon.svg" />
    {viewTransitions && <ViewTransitions />}
    <title>{title ?? SITE.TITLE}</title>
  </head>
</html>
<body class="min-h-screen">
  <Header />
  <main class="w-full px-4 flex flex-col justify-center items-center gap-2">
    <slot name="main" />
  </main>
  <slot />
  <Footer />
</body>

<style>
  html {
    scroll-behavior: smooth;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }
</style>
